<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Proyectos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mis-proyectos</ion-title>
    </ion-toolbar>
  </ion-header>

  <header>

  </header>

  <section > 

    <article>
      <ion-card>
        <img src="../../assets/img/RIMOSSO.png" id="img-rimosso">
        <ion-card-header>
          <ion-card-title>Rimosso</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Rimosso es un innovador proyecto diseñado para gestionar y apoyar a estudiantes que presentan un bajo rendimiento académico. Con el objetivo de brindarles un enfoque personalizado y efectivo, Rimosso utiliza un sistema de reporte basado en el desempeño académico de los estudiantes.

El proyecto Rimosso se enfoca en identificar a los estudiantes que están luchando en sus estudios y proporcionarles la ayuda necesaria para mejorar su rendimiento. Mediante un seguimiento cuidadoso de sus calificaciones y evaluaciones, el sistema de reporte de Rimosso permite a los profesores y administradores escolares intervenir de manera oportuna y brindar el apoyo adicional necesario.

El sistema de reporte de Rimosso se basa en un enfoque objetivo y transparente. Los estudiantes son evaluados en función de su desempeño académico, teniendo en cuenta aspectos como las calificaciones, la asistencia y la participación en clase. Con esta información, se generan informes precisos que permiten identificar a los estudiantes que necesitan una atención adicional.

Una vez identificados, los estudiantes reportados en Rimosso reciben un plan de acción individualizado. Este plan puede incluir tutorías, mentorías o programas de refuerzo académico, según las necesidades específicas de cada estudiante. Además, Rimosso también busca involucrar a los padres y tutores en el proceso, fomentando una comunicación abierta y colaborativa para asegurar el progreso del estudiante.

El proyecto Rimosso tiene como objetivo principal brindar a los estudiantes con notas bajas las herramientas y el apoyo necesario para superar sus dificultades académicas y alcanzar su máximo potencial. Mediante la implementación de este sistema de reporte y la intervención temprana, Rimosso busca contribuir al éxito académico y personal de los estudiantes, brindándoles las oportunidades que merecen para tener un futuro brillante.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" href="https://github.com/">Git Hub</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="secondary" routerLink="/otra-ruta">Ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      

    </article>

    <article>
      <ion-card>
        <img src="../../assets/img/facebook.jpg" id="facebook-img">
        <ion-card-header>
          <ion-card-title>Facebook</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Facebook es una de las redes sociales más populares y utilizadas a nivel mundial. Fundada en 2004 por Mark Zuckerberg, se ha convertido en una plataforma de comunicación y conexión global, permitiendo a las personas mantenerse en contacto con amigos, familiares y conocidos, así como descubrir contenido y participar en comunidades de su interés.

En Facebook, los usuarios pueden crear perfiles personales donde comparten información sobre ellos mismos, como fotos, actualizaciones de estado, intereses y datos personales. Estos perfiles pueden ser personalizados y configurados según las preferencias individuales de privacidad.

Una de las características principales de Facebook es la posibilidad de agregar amigos y establecer conexiones con otras personas. Los usuarios pueden enviar solicitudes de amistad, aceptar solicitudes recibidas y construir una red de contactos. Esta red de amigos permite ver y comentar las publicaciones de los demás, compartir contenido relevante y mantenerse al tanto de la vida de las personas en su círculo social.

Facebook también es una plataforma donde los usuarios pueden unirse a grupos y páginas relacionadas con sus intereses. Estas comunidades virtuales reúnen a personas con afinidades comunes, permitiendo la interacción y el intercambio de ideas. Los grupos y páginas pueden abarcar una amplia gama de temas, desde hobbies y pasatiempos hasta causas sociales y debates intelectuales.

Además de la comunicación entre amigos y la participación en comunidades, Facebook ofrece diversas funcionalidades. Los usuarios pueden enviar mensajes privados, crear eventos, compartir fotos y videos, transmitir en vivo, descubrir noticias y contenido multimedia, seguir a figuras públicas y marcas, e incluso realizar transacciones comerciales en su plataforma de compraventa.

A lo largo de los años, Facebook ha evolucionado y ha introducido nuevas características y servicios, adaptándose a las necesidades cambiantes de sus usuarios. Siendo una plataforma global, ha tenido un impacto significativo en la forma en que nos conectamos y compartimos información en la era digital, convirtiéndose en una parte integral de la vida cotidiana de millones de personas en todo el mundo.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" href="https://github.com/">Git Hub</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="secondary" routerLink="/otra-ruta">Ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      

    </article>

    <article>
      <ion-card>
        <img src="../../assets/img/twitter.jpg" id="twitter-img">
        <ion-card-header>
          <ion-card-title>Twitter</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Twitter es una popular plataforma de redes sociales que permite a los usuarios publicar mensajes cortos y concisos conocidos como "tweets". Fundada en 2006, se ha convertido en un medio de comunicación y una fuente de información en tiempo real para millones de personas en todo el mundo.

En Twitter, los usuarios pueden crear perfiles y seguir a otros usuarios cuyos tweets desean ver en su línea de tiempo. Estos tweets, limitados a 280 caracteres, pueden contener texto, enlaces, imágenes, videos y menciones a otros usuarios. Los usuarios también pueden agregar hashtags (#) para etiquetar temas específicos y facilitar la búsqueda de contenido relacionado.

Una característica distintiva de Twitter es su formato de flujo constante de actualizaciones. La plataforma se actualiza en tiempo real, lo que permite a los usuarios recibir y compartir información al instante. Esto ha convertido a Twitter en una herramienta valiosa para el seguimiento de noticias de última hora, eventos en vivo, tendencias populares, debates y conversaciones en curso.

Los usuarios pueden interactuar con los tweets de diversas formas. Pueden dar "me gusta" a un tweet para mostrar su aprecio, retuitearlo para compartirlo con sus propios seguidores, responder a un tweet para participar en la conversación o incluso citarlo para agregar comentarios adicionales. Estas interacciones promueven la participación y la difusión del contenido en la plataforma.

Twitter también permite a los usuarios seguir a figuras públicas, organizaciones, medios de comunicación y marcas, lo que les permite mantenerse al tanto de las actualizaciones y comunicaciones de sus intereses y fuentes de información favoritas.

Con su enfoque en la brevedad y la inmediatez, Twitter ha revolucionado la forma en que nos comunicamos y compartimos información. Ha proporcionado una plataforma poderosa para la libre expresión, el activismo, el intercambio de ideas y la conexión global en tiempo real. Twitter ha demostrado ser una herramienta influyente y ha cambiado la forma en que interactuamos y consumimos información en el mundo digital.
        </ion-card-content>
      
        <ion-row>
          <ion-col >
            <ion-button expand="full" color="primary" href="https://github.com/">Git Hub</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="secondary" routerLink="/otra-ruta">Ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      

    </article>



  </section>
</ion-content>
