<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Contactos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >

    <ion-card>
  <form class="contact-form">
    <ion-item>
      <ion-title position="floating">¡Dejanos tu mensaje!</ion-title>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="correo" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea name="mensaje" required></ion-textarea>
    </ion-item>
    
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Redes Sociales</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-row>
      <ion-col size="6">
        <a href="https://www.facebook.com">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </ion-col>
      <ion-col size="6">
        <a href="https://www.twitter.com">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </ion-col>
      <ion-col size="6">
        <a href="https://www.instagram.com">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>
