<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Multimedia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">multimedia</ion-title>
    </ion-toolbar>
  </ion-header>
  <header>

  </header>

  <section>
    <article>
      <ion-card>
        
          <video src="../../assets/video/uno.mp4" controls></video>
        
        <ion-card-header>
          <ion-card-title>Symphony No. 40 in G Minor, K. 550: I. Molto allegro</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          La Sinfonía No. 40 en sol menor, K. 550: I. Molto allegro, es una obra maestra del compositor austriaco Wolfgang Amadeus Mozart. Escrita en 1788, esta sinfonía es una de las composiciones más conocidas y queridas del repertorio clásico.

El primer movimiento, Molto allegro, es una pieza enérgica y apasionada que captura la atención del oyente desde el primer compás. Comienza con un tema distintivo y melódico presentado por las cuerdas, seguido de secciones de desarrollo y recapitulación. La música es intensa y llena de vitalidad, con ritmos pulsantes y contrastes dinámicos.

A lo largo del movimiento, Mozart emplea una rica orquestación, destacando diferentes secciones de la orquesta, desde las cuerdas hasta los vientos y los metales. La melodía se mueve con fluidez entre las diferentes secciones, creando una sensación de unidad y equilibrio.

El Molto allegro es conocido por su dramatismo y su inconfundible sentido de urgencia. Aunque escrito en la tonalidad sombría de sol menor, también tiene momentos de luminosidad y esperanza, mostrando la genialidad de Mozart al combinar diferentes estados de ánimo en una sola composición.

La Sinfonía No. 40 en sol menor, K. 550: I. Molto allegro, es un ejemplo destacado del talento de Mozart para componer música emocionalmente rica y profundamente conmovedora. Su energía contagiosa y su belleza melódica han asegurado su lugar como una de las obras más queridas y veneradas del repertorio sinfónico clásico.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" href="https://www.youtube.com/watch?v=N7i1GfjLM90&list=RDQMFCquWNxyIsI&index=2">Ver video</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      
    </article>

    <article>
      <ion-card>
        
          <video src="../../assets/video/dos.mp4" controls></video>
        
        <ion-card-header>
          <ion-card-title>Un pato, pez, un gato y un pollo</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          En el video, se puede observar una escena divertida y peculiar donde un pez, un gato y un pato dan vueltas juntos. Cada uno de estos animales aporta su propio encanto y comportamiento característico, creando una combinación única y entretenida.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" href="https://www.youtube.com/watch?v=hvS5QiLGQA8">Ver video</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      
    </article>

    <article>
      <ion-card>
        
          <video src="../../assets/video/tres.mp4" controls></video>
        
        <ion-card-header>
          <ion-card-title>La fuga </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Una salsa de Luisito Carrion.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" href="https://www.youtube.com/watch?v=2wQ8B-1AGGs">Ver video</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      
    </article>




  </section>




</ion-content>
