<ion-header>
  <ion-toolbar color="success">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <nav> 
      

      
      <ion-card>
        <ion-card-content id="content-card">
          <ion-img src="../../assets/img/documento.jpg" id="foto-img"></ion-img>
        </ion-card-content>
        <ion-card-header>
          <ion-card-title><p id="p-nombre">Carlos Antonio Vasquez Marin</p></ion-card-title>
        </ion-card-header>
        <ion-card-subtitle id>Desarrollador de Software</ion-card-subtitle>
      </ion-card>
    
      

    </nav>

  <section>
    <ion-card>
      <ion-card-header>
        <ion-card-title id="p-datos">Mi descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content id="datos">
        <ion-list>
          <ion-item>
            <ion-label>Edad:</ion-label>
              <ion-text>
                ¡Hola! Soy una persona optimista y siempre estoy buscando lo positivo en cada situación. Me encanta explorar nuevas experiencias y descubrir cosas emocionantes. Una de mis mayores pasiones son los juegos. Me encanta sumergirme en mundos virtuales y desafiar mi mente con rompecabezas y estrategias. Los juegos me brindan una sensación de emoción y logro, y siempre estoy emocionado por descubrir nuevos títulos y probar diferentes géneros.

                Además de los juegos, la comida es otra de mis grandes alegrías en la vida. Me fascina la diversidad culinaria y disfruto explorando sabores y platos de diferentes culturas. Desde sushi japonés hasta tacos mexicanos, estoy dispuesto a probarlo todo. Me encanta experimentar en la cocina y crear mis propias recetas, combinando ingredientes inusuales para obtener sabores únicos. La comida me brinda un sentido de conexión con otras personas, ya que a menudo compartimos comidas y recetas entre amigos y familiares.

                En cuanto a nuevas experiencias, siempre estoy abierto a descubrir cosas nuevas y salir de mi zona de confort. Me encanta viajar y conocer diferentes lugares, sumergirme en nuevas culturas y aprender de ellas. Explorar paisajes exóticos, interactuar con personas de diferentes orígenes y sumergirme en tradiciones desconocidas son cosas que me emocionan y me enriquecen como individuo. Estas experiencias me permiten ampliar mis horizontes y ver el mundo desde perspectivas diferentes.

                En resumen, soy una persona positiva que siempre busca lo mejor en la vida. Mi pasión por los juegos, la comida y las nuevas experiencias me impulsa a buscar constantemente más alegría y cumplir mis aspiraciones. Creo firmemente que la vida está llena de oportunidades emocionantes y estoy emocionado por descubrir lo que el futuro me depara. ¡Estoy listo para vivir cada día con entusiasmo y aprovechar al máximo cada experiencia que se presente en mi camino!
              </ion-text>
          </ion-item>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
    

  </section>


</ion-content>